@charset 'utf-8';

@import 'settings';
@import 'foundation';


@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-close-button;
@include foundation-menu;
@include foundation-progress-bar;
@include foundation-table;
@include foundation-visibility-classes;


.bx-wrapper{position:relative;margin:0 auto 60px;padding:0;*zoom:1;-ms-touch-action:pan-y;touch-action:pan-y}.bx-wrapper img{max-width:100%;display:block}.bxslider{margin:0;padding:0}ul.bxslider{list-style:none}.bx-viewport{-webkit-transform:translatez(0)}.bx-wrapper{-moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;box-shadow:0 0 5px #ccc;border:5px solid #fff;background:#fff}.bx-wrapper .bx-controls-auto,.bx-wrapper .bx-pager{position:absolute;bottom:-30px;width:100%}.bx-wrapper .bx-loading{min-height:50px;background:url(images/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000}.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:700;color:#666;padding-top:20px}.bx-wrapper .bx-pager.bx-default-pager a{background:#666;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:focus,.bx-wrapper .bx-pager.bx-default-pager a:hover{background:#000}.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager-item{display:inline-block;*zoom:1;*display:inline}.bx-wrapper .bx-pager-item{font-size:0;line-height:0}.bx-wrapper .bx-prev{left:10px;background:url(images/controls.png) no-repeat 0 -32px}.bx-wrapper .bx-prev:focus,.bx-wrapper .bx-prev:hover{background-position:0 0}.bx-wrapper .bx-next{right:10px;background:url(images/controls.png) no-repeat -43px -32px}.bx-wrapper .bx-next:focus,.bx-wrapper .bx-next:hover{background-position:-43px 0}.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9999}.bx-wrapper .bx-controls-direction a.disabled{display:none}.bx-wrapper .bx-controls-auto{text-align:center}.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(images/controls.png) -86px -11px no-repeat;margin:0 3px}.bx-wrapper .bx-controls-auto .bx-start.active,.bx-wrapper .bx-controls-auto .bx-start:focus,.bx-wrapper .bx-controls-auto .bx-start:hover{background-position:-86px 0}.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(images/controls.png) -86px -44px no-repeat;margin:0 3px}.bx-wrapper .bx-controls-auto .bx-stop.active,.bx-wrapper .bx-controls-auto .bx-stop:focus,.bx-wrapper .bx-controls-auto .bx-stop:hover{background-position:-86px -33px}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666;background:rgba(80,80,80,.75);width:100%}.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px}


[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
    line-height: 17px;
    padding: 18px 20px;
    height: auto;
    @include breakpoint(medium down) {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 15px;
    }
    @include breakpoint(small down) {
        padding: 7px 10px;
    }
}

a{
    &:hover{
        text-decoration: underline;
    }
}

.noscroll{
    overflow: hidden;
}

.close-button{
    outline: none;
    font-weight: 300;
}

.button{
    outline: none;
    @include breakpoint(medium down) {
        font-size: 16px;
        line-height: 19px;
        padding: 13px;
    }
    @include breakpoint(small down) {
        font-size: 14px;
        line-height: 16px;
        padding: 8px;
    }
    &.gray{
        background-color: #bab8b8;
        &:hover, &:focus{
            background-color: darken(#bab8b8, 15);
        }
    }
}

.progress{
    &-meter{
        border-radius: 25px;
        padding-left: 15px;
        background-image: linear-gradient(180deg, #0bacf3 0%, #0473e4 100%);
        line-height: 16px;
        font-size: 10px;
        color: $white;
        text-shadow: 0 0 20px $black;
        overflow: hidden;
        transition: 500ms
    }
    &.warning{
        .progress-meter{
            background-image: linear-gradient(180deg, #fcb800 0%, #f88100 100%);
        }
    }
    &.success{
        .progress-meter{
            background-image: linear-gradient(180deg, #00f0b9 0%, #07d081 100%);
        }
    }
}

.bx{
    &-wrapper {
        border: 0;
        box-shadow: none;
        margin: 0;
        margin: auto;
        background-color: transparent;
        ul {
            margin: 0;
        }
        img {
            width: 100%;
        }
        .bx-controls-direction{
            a{
                margin: 0;
                transform: translateY(-50%);
                width: 36px;
                height: 36px;
                background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAABSklEQVRYR8XWMUpEMRAG4Jl98RgqeAcbrbS18wRrsqCt5WIvVh7AhDzbvYJYCFYWNoKNd9grzMgTLBR9yUtmsmmTzHwwxT8IDY5z7oSIzo0xS+/9+1hL1PbMF4tTJFoxswHEm/sYlxsD/cAArLeMOfDef2wE9Btjuu44hPCWmojKyEoxA1YcVIMRB9ViREESGDGQFEYEJImpBkljqkAamGKQFqYIpImZDNLGTAK1wGSDWmGyQNbaIwZ4+NpnANa5qZ1K9f/uk+F65twtE10OBWaI1zHGq9JmOf+SIOfcLhE9M8A2APAM8SLGeJdTvORNEjQUtdbuMfNTC1QWqCUqG9QKNQnUAjUZpI0qAmmiikFaqCqQBqoaJI0SAUmixEBSKFGQBEocVItSAdWg1EB/oUzX7YcQXsfWElXQN4oAHoF5BwEO+75/GQN9AswGcTSheoVwAAAAAElFTkSuQmCC);
                background-position: 0 !important;
            }
        }
        .bx-prev{
            left: -56px;
        }
        a.bx-next{
            right: -56px;
            transform: scale(-1, 1) translateY(-50%);
        }
        .bx-pager{
            padding: 0;
            margin-bottom: -20px;
            @include breakpoint(small down) {
                margin-bottom: 0;
            }
            &.bx-default-pager{
                a{
                    background-color: $light-gray;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    @include breakpoint(small down) {
                        width: 10px;
                        height: 10px;
                    }
                    &:focus{
                        background-color: $light-gray;
                    }
                    &.active, &:hover{
                        background-color: #bab8b8;
                    }
                }
            }
        }
    }
}

.wrap{
    min-width: 320px;
}

.leftmenu {
    .menu {
        margin-bottom: 30px;
        > li {
            > a {
                display: block;
                padding: 25px 30px;
                padding-right: 0;
                font-size: 16px;
                line-height: 19px;
                border: 1px solid map-get($foundation-palette, primary);
                border-bottom: 0;
                transition: 200ms;
                text-decoration: none;
                @include breakpoint(medium down) {
                    font-size: 14px;
                    padding: 20px 25px;
                }
                @include breakpoint(small down) {
                    font-size: 12px;
                    line-height: 13px;
                    padding: 6px 15px;
                }
            }
            &:first-child{
                > a{
                    border-radius: 3px 3px 0 0;
                }
            }
            &:last-child{
                > a{
                    border-radius: 0 0 3px 3px;
                    border-bottom: 1px solid map-get($foundation-palette, primary);
                }
            }
        }
        
        >li>a:hover,
        >li.active>a {
            color: $white;
            background-color: map-get($foundation-palette, primary);
        }
        .nav-child {
            background-color: #f6f6f6;
            padding: 22px 24px;
            line-height: 17px;
            list-style: none;
            margin: 0;
            @include breakpoint(medium down) {
                padding: 10px 20px;
                font-size: 12px;
                line-height: 16px;
            }
            li{
                margin-bottom: 10px;
                &.deeper, &:last-child{
                    margin: 0;
                }
                &.active{
                    > a{
                        color: map-get($foundation-palette, primary);
                    }
                }
                a{
                    color: #686868;
                }
            }
            .nav-child{
                padding: 15px;
            }
        }        
    }
}

.page {
    margin-top: 32px;
    margin-bottom: 55px;
    color: $medium-gray;
    @include breakpoint(small down) {
        font-size: 12px;
    }
    h1 {
        line-height: 28px;
        color: $medium-gray;
        margin-bottom: 35px;
        @include breakpoint(small down) {
            line-height: 20px;
            margin-bottom: 16px;
        }
    }
    h2 {
        color: map-get($foundation-palette, primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 20px;
        @include breakpoint(small down) {
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            margin-bottom: 15px;
        }
    }
    [itemprop="articleBody"]>img{
        margin-bottom: 70px;
        border-radius: 3px;
        @include breakpoint(small down) {
            margin-bottom: 35px;
        }
    }
    .main_dashed{
        margin-bottom: 70px;
        @include breakpoint(small down) {
            margin-bottom: 35px;
        }
    }
    table {
        text-align: center;
    }
    .advantages {
        background-color: $light-gray;
        text-align: center;
        padding: 0 45px;
        padding-top: 55px;
        padding-bottom: 35px;
        font-size: 16px;
        line-height: 19px;
        align-items: baseline;
        margin: 44px 0;
        color: #4a4a4a;
        @include breakpoint(medium down) {
            padding: 0 40px;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 12px;
            line-height: 14px;
        }
        @include breakpoint(small down) {
            margin: 30px 0;
            padding: 16px 0;
            font-size: 10px;
        }
        img {
            display: block;
            margin: auto;
            margin-bottom: 30px;
            @include breakpoint(medium down) {
                max-width: 40px;
                max-height: 45px;
                margin-bottom: 15px;
            }
            @include breakpoint(small down) {
                max-width: 30px;
                max-height: 34px;
                margin-bottom: 10px;
            }
        }
    }
    .systems{
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        margin-top: 30px;
        color: #828282;
        @include breakpoint(medium down) {
            font-size: 12px;
            line-height: 14px;
        }
        >.row{
            margin-bottom: 50px;
            align-items: baseline;
            @include breakpoint(medium down) {
                margin-bottom: 45px;
            }
        }
        img {
            display: block;
            margin: auto;
            margin-bottom: 30px;
        }
        a {
            display: block;
            color: #828282;
        }
        &.services{
            padding: 0 120px;
            margin-top: 70px;
            @include breakpoint(medium down) {
                padding: 0 50px;
                margin-top: 50px;
                img{
                    max-width: 40px;
                    max-height: 40px;
                }
            }
            @include breakpoint(small down) {
                padding: 0;
            }
            a{
                font-size: 14px;
                line-height: 1.5    ;
                @include breakpoint(medium down) {
                    font-size: 12px;
                }
            }
        }
    }
    .review{
        background-color: $light-gray;
        border-radius: 3px;
        padding: 0 70px;
        padding-top: 55px;
        padding-bottom: 40px;
        margin-top: 45px;
        margin-bottom: 45px;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #494b4c;
        @include breakpoint(medium down) {
            padding: 60px;
            font-size: 12px;
        }
        @include breakpoint(medium down) {
            padding: 30px;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        &_header{
            font-size: 18px;
            line-height: 21px;
            color: map-get($foundation-palette, primary);
            margin-bottom: 25px;
            font-weight: 400;
            @include breakpoint(medium down) {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 15px;
            }
        }
        p{
            position: relative;
            margin: 0;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: -30px;
                display: block;
                width: 22px;
                height: 22px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAACeUlEQVRIS7WVz0tUURiGn3dGkxCTVmb/gGCUWoGRJUW0KggrVIiMae6AUGRQQrSpNkblwhYF4YwLIzL7sQhqlRgtijQ0CIqIWhRtWlRUWhozX9zjdbqKzszGuzt89zznu+95v/eKJXq0RFwKAluKJjIcBCYpp13N/JptyFJUYXRhiCLOKMYrv5YXbH1Uk2EEo5QIRxXnShbaTynTrlYNDCpBy2wtJ9hSlGGMYlQhHspjV1g6SzKA0YL4xHJqdIBvhYGT3MHYB3yhhLVq40u22yQdGD1ABtihBI/Dhy7asSU5iXHJvSx2y+NBCNqAOVAR4oI8Ts03wYJg62Ub4hFGFHFVHkey0F4qgHGgEhijjk3ayN+8YEuxGmMMowLxhhVsUDO//Y02TBHvGcJodA6JsF5x3i5k2Tkd2wuKGXefuBkxTZR6xXgZslY3GU4E8rTL49piczAXnOIyGY4FGzvl0Z2F9rGfNLeD2n157Mk1XFmw3WAlk+7W/Qv5TpRKxfgT0tbXtTYA18tjpCCw03CuE7rl0TnPCcNAMfCUchrVTLogKQL4jHeFATvlMbSAdyHCWcU5Vzg4PG3wGbFOHl9D8JsYrYg0YqviPMvritBF/c8HcU+emz73mJ8PUzwH1iA+IGoV52deH4cuyw+UAbeO4ClOKmQ7P9H8DCkD+pXgUMHgQO8ejA7EBFHqFONd6OC9wN1g3aoEt8Lw3Ok2M2nDGFuAUepoCI+v9XIR6HT2XEaN2vg4C8+fx9epZMqN+CrEeXmcznY9SJQfLlP8bHlCnO2SS7v8Qe8k6aOeDE0YaUroUhsTIUkqiHDc/UEi9OswrwsG55qwxWr/AKTx2Re6cmC+AAAAAElFTkSuQmCC);
                @include breakpoint(small down) {
                    width: 17px;
                    height: 17px;
                    left: -19px;
                    background-size: contain;
                }

            }
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                right: -30px;
                display: block;
                width: 22px;
                height: 22px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAACfElEQVRIS7XVzWucVRTH8c+ZYKv1BXWRjShIEVEQTLARXUhCu1Jw4UuJiF1kZhDswi6qoht1I0IUrCgIecZiRbTBWgRdiVjqCxbUWsVC/4G+rKSWItrMHJknk+lMMjNRoWf3cO/93vOc8zu/Gy5RxCXi6oJzrzsseVlI4YWoOrFyaS66ylnvYJOK96Pq4HoJ9WWcC/Zju3DcBlOxw/kuvGGnlreE8yqmYs7xUfB+8Aeu86dj0o3C/qiZ7T2chc+l+4UTwpaoOjcMvqbGuWAaX6Ii7IqaPd2s9xn3l18xLhyImkf+Nbi9MQuvSs9hSZiOmm+78MID0mfld3gmal4bBB+oivzBZY76HpM4hYmoO9MDf1t6SmhK26Lu0Gr4ULllw61afiqVEA7bbGvMWCr/aNEV/vCjdJtwRpiMqpO98JE6zsKTspRZu+KvR9XubtZ73anpiLQB35kwHXe5sLK+7oBk4VPpwfLAmEdjzsc9JdktzXcufjOqnv4v4CnpSOfAz1E30ZP15ZpOSdeWjd5kPB73+3JfR0QuGnPWYdyLC8LMKoXMy055VilkNLjhRS0vdaTVr+nCVnxRGsAATY9SxT3S19KY8FHUPNZT2+ulX3DDsCkcrOOGq7Ucw834zUZ39/lG4YD00CjfGAxe8B52COc6nnDR6RqqWopO9rNRL41rTaz1isKs9GFn58NR90mPCm7RdFS6UtgTNbuG9b7f3fa5yd+lu7XlMx91z3ahy2Pe9owtwjc2m1mZxJEZZ6po+Eq6TzjkGttiu2ZPw16RnhdO22gynig9ZGhcfEHedbtWWdfU8kaf6Sy/IG3omIqDMdcdmPXBo27/P2v/ABbh2RekPPg2AAAAAElFTkSuQmCC);
                @include breakpoint(small down) {
                    width: 17px;
                    height: 17px;
                    right: -19px;
                    background-size: contain;
                }
            }
        }
    }
}

.head {
    height: 140px;
    @include breakpoint(medium down) {
        height: 160px;
        padding: 0 50px;
    }
    @include breakpoint(small down) {
        height: 82px;
        padding: 0;
        border-bottom: 2px solid map-get($foundation-palette, primary);
    }
    > .row{
        height: 100%;
    }
    .logo {
        @include breakpoint(medium down) {
            max-width: 200px;
        }
    }
    .contacts {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $medium-gray;
        font-size: 24px;
        text-align: right;
        font-weight: 300;
        line-height: 50px;
        @include breakpoint(medium down) {
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
        }
        @include breakpoint(small down) {
            font-size: 14px;
            padding-left: 0;
            li:last-child{
                display: none;
            }
        }
        ul {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        a {
            color: $medium-gray;
        }
    }
    &_hamb{
        @include hamburger(#4a4a4a, #4a4a4a, 24px, 20px, 2px, 3);
        margin-left: 20px;
    }
}

.nav {  
    font-size: 16px;
    background-color: map-get($foundation-palette, secondary);
    color: $white;
    @include breakpoint(medium up) {
        display: block !important;
    }
    @include breakpoint(medium down) {
        padding: 0 35px;
    }
    @include breakpoint(small down) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: rgba(42, 71, 90, 0.9);
        padding-bottom: 60px;
        overflow: auto;
    }
    .opened{
        display: block;
    }
    .menu {
        height: 100%;
        table-layout: auto;
        white-space: nowrap;
        flex-wrap: wrap;
        @include breakpoint(small down) {
            margin-top: 60px;
        }
        li{
            @include breakpoint(small down) {
                flex: 1 1 100%;
            }
            &.active, &:hover {
                a {
                    border-color: map-get($foundation-palette, primary);
                }
            }
            
        }
        a {
            height: 54px;
            line-height: 54px;
            display: block;
            text-align: center;
            color: $white;
            padding: 0 4px;
            transition: 200ms;
            border-bottom: 3px solid transparent;
            text-decoration: none;
            @include breakpoint(small down) {
                font-size: 20px;
                line-height: 36px;
                border: 0;
                height: 36px;
                margin-bottom: 14px;
            }
        }
    }
    &_share{
        text-align: right;
        display: flex;
        justify-content: flex-end;
        @include breakpoint(small down) {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }
        >div{
            position: relative;
            @include breakpoint(medium down) {
                color: map-get($foundation-palette, primary);
                &:hover .nav_share_tooltip{
                    opacity: 1;
                }
            }
            @include breakpoint(small down) {
                font-size: 18px;
                color: $dark-gray;
                margin-bottom: 10px;
            }
        }
        > .ya-share2{
            @include breakpoint(medium down) {
                display: none;
            }
            @include breakpoint(small down) {
                display: block;
                .ya-share2__item_service_vkontakte{
                    margin: 0 !important;
                }
            }
        }
        li{
            margin: 0 !important;
            margin-left: 20px !important;
        }
        &_tooltip{
            display: flex;
            width: 197px;
            opacity: 0;
            position: absolute;
            bottom: -60px;
            transform: translateX(-50%);
            left: 45%;
            align-items: center;
            height: 50px;
            padding: 0 20px;
            background-color: map-get($foundation-palette, secondary);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 999;
            transition: 500ms;
            &:empty{
                display: none;
            } 
            &::before{
                content: '';
                position: absolute;
                top: -5px;
                left: calc(50% - 5px);
                border: 10px solid transparent; border-bottom: 10px solid map-get($foundation-palette, secondary);
                border-top: 0;
            }
            .ya-share2__item_service_vkontakte{
                margin: 0 !important;
            }
        }
    }
}

.slider{
    position: relative;

    .bx-wrapper{
        overflow: hidden;
        .bx-prev{
            left: 20px;
        }
        .bx-next{
            right: 20px;
        }
    }
    &_call{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1170px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // @include breakpoint(medium down) {
        //     width: calc(100% - 30px);
        //     left: 0;
        //     transform: none;
        //     margin: 0 15px;
        //     padding: 14px 70px;
        //     padding-bottom: 22px;
        // }
        // @include breakpoint(small down) {
        //     background: none;
        //     padding: 0;
        // }
        // &_header{
        //     flex: 1 1 100%;
        //     text-align: center;
        //     font-size: 24px;
        //     font-weight: 400;
        //     line-height: 32px;
        //     margin-bottom: 35px;
        //     @include breakpoint(medium down) {
        //         font-size: 16px;
        //         margin-bottom: 14px;
        //     }
        //     @include breakpoint(small down) {
        //         display: none;
        //     }
        //     b{
        //         font-weight: 500;
        //     }
        // }
        // input {
        //     flex: 0 1 28%;
        //     margin: 0;
        //     @include breakpoint(small down) {
        //         display: none;
        //     }
        //     &[type="text"]{
        //         font-size: 24px;
        //         line-height: 28px;
        //         padding: 16px;
        //         @include breakpoint(medium down) {
        //             font-size: 14px;
        //             font-weight: 400;
        //             line-height: 16px;
        //             padding: 10px 15px;
        //         }
        //     }
        //     &.button{
        //         font-size: 16px;
        //         line-height: 16px;
        //         padding: 8px 12px;
        //     }
        // }
        &_button{
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 14px;
            padding: 15px 34px;
            border-radius: 15px;
            margin: auto;
            transform: translateY(50%);
            @include breakpoint(medium down) {
                font-size: 20px;
            }
            @include breakpoint(small down) {
                padding: 6px 34px;
                font-size: 12px;
            }
        }
    }
}

.service {
    padding-top: 65px;
    padding-bottom: 140px;
    @include breakpoint(medium down) {
        padding-top: 55px;
        padding-bottom: 100px;
        > .column{
            margin: 0 56px;
        }
        .bx-wrapper{
            .bx-controls-direction a{
                width: 20px;
                height: 20px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA1ElEQVQ4T53TMQrCMBSA4aRQ00E8g97B0cWjmG6FLCJ4AScdnIRQaHMOcfQSurl4AkO7JZItaJO+l3eAj0fyP0oSRggx0113odYe2rZ9+gTFeg77aH0lhMwLxpZSyncy6GOTPF/Xdf34XQi8IQRzOAiEYiAQg42CWCwKpmBBMBUbBKuqmnZ9f3OdhdKItfv3y5zzlbH2TrPsqJpmjw1/MJtNWe6sMSdKyFYpdcagwQ5T0WjYKejopWDRUdC9HwYFgRgUDEJRFAhB0aCPFowtpJQvv9MvITmiFcJWAXMAAAAASUVORK5CYII=);
            }
        }
        .bxservice{
            display: flex;
        }   
    }
    @include breakpoint(small down) {
        padding-top: 20px;
        padding-bottom: 30px;
        > .column{
            margin: 0 25px;
        }
        .bx-wrapper{
            .bx-prev{
                left: -30px;
            }
            .bx-next{
                right: -30px;
            }
        }
    }
    &_list {
        list-style-type: none;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
        text-align: center;
        @include breakpoint(small down) {
            margin-left: 20px;
            margin-bottom: 20px;
            text-align: left;
            overflow-y: hidden;
            height: 27px;
            width: calc(100% - 20px);
            white-space: nowrap;
            display: flex;
            &::after{
                content: '';
                display: inline-block;
                min-width: 20px;
                height: 100%;
            }
            &::-webkit-scrollbar { 
                display: none; 
            }
        }
        li {
            display: inline-block;
            margin-left: -1px;
            width: 140px;
            padding: 14px 0;
            border: 1px solid map-get($foundation-palette, primary);
            cursor: pointer;
            color: map-get($foundation-palette, primary);
            white-space: nowrap;
            user-select: none;
            transition: 200ms;
            @include breakpoint(medium down) {
                width: 95px;
                padding: 10px 0;
                font-size: 11px;
                line-height: 13px;
            }
            @include breakpoint(small down) {
                text-align: center;
                font-size: 12px;
                width: 115px;
                min-width: 115px;
                padding: 5px 0;
            }
            &:first-child{
                border-radius: 4px 0 0 4px;
                @include breakpoint(small down) {
                    margin: 0;
                }
            }
            &:last-child {
                border-radius: 0 4px 4px 0;
            }
            &.active {
                background-color: map-get($foundation-palette, primary);
                color: $white;
            }
        }
    }
    &_item{
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        @include breakpoint(medium down) {
            font-size: 12px;
        }
        &:last-child{
            img{
                max-height: 185px
            }
            .service_item_price{
                margin-top: -63px;
                margin-left: calc(50% - 75px);        
                margin-bottom: 40px;
                &_old{
                    text-align: left;
                    margin-top: -70px;
                    margin-left: calc(50% - 75px);
                    margin-bottom: 70px;
                    &:empty{
                        margin: 0;
                    }
                }
            }
        }
        &_header{
            height: 35px;
            background-color: rgba(218, 218, 218, 0.11);
            line-height: 35px;
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 25px;
            @include breakpoint(medium down) {
                height: 30px;
                line-height: 30px;
                font-size: 12px;
            }
        }
        img{
            display: block;
            width: auto;
            margin: auto;
            max-height: 140px;
            margin-bottom: 15px;
        }
        &_price{
            display: table;
            margin: auto;
            height: 26px;
            color: #a3a0a0;
            margin-bottom: 22px;
            span{
                font-size: 20px;
                color: map-get($foundation-palette, primary);
            }
            &_old{
                text-align: center;
                text-decoration: line-through;
                color: #a3a0a0;
            }
        }
        &_params{
            width: 172px;
            margin: auto;
        }
        &_desc{
            padding: 20px;
            padding-bottom: 30px;
            font-weight: 300;
            line-height: 2;
            @include breakpoint(medium down) {
                padding: 15px;
            }
            @include breakpoint(medium down) {
                padding-top: 5px;
            }
            b{
                font-weight: 400;
            }
            span{
                color: #c87d01;
                font-weight: 400;
            }
        }
    }
}