.leftmenu {
    .menu {
        margin-bottom: 30px;
        >li {
            >a {
                display: block;
                padding: 25px 30px;
                padding-right: 0;
                font-size: 16px;
                line-height: 19px;
                border: 1px solid map-get($foundation-palette, primary);
                border-bottom: 0;
                transition: 200ms;
                text-decoration: none;
                @include breakpoint(medium down) {
                    font-size: 14px;
                    padding: 20px 25px;
                }
                @include breakpoint(small down) {
                    font-size: 12px;
                    line-height: 13px;
                    padding: 6px 15px;
                }
            }
            &:first-child {
                >a {
                    border-radius: 3px 3px 0 0;
                }
            }
            &:last-child {
                >a {
                    border-radius: 0 0 3px 3px;
                    border-bottom: 1px solid map-get($foundation-palette, primary);
                }
            }
        }
        >li>a:hover,
        >li.active>a {
            color: $white;
            background-color: map-get($foundation-palette, primary);
        }
        .nav-child {
            background-color: #f6f6f6;
            padding: 22px 24px;
            line-height: 17px;
            list-style: none;
            margin: 0;
            @include breakpoint(medium down) {
                padding: 10px 20px;
                font-size: 12px;
                line-height: 16px;
            }
            li {
                margin-bottom: 10px;
                &.deeper,
                &:last-child {
                    margin: 0;
                }
                &.active {
                    >a {
                        color: map-get($foundation-palette, primary);
                    }
                }
                a {
                    color: #686868;
                }
            }
            .nav-child {
                padding: 15px;
            }
        }
    }
}