.service {
    padding-top: 65px;
    padding-bottom: 140px;
    @include breakpoint(medium down) {
        padding-top: 55px;
        padding-bottom: 100px;
        >.column {
            margin: 0 56px;
        }
        .bx-wrapper {
            .bx-controls-direction a {
                width: 20px;
                height: 20px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA1ElEQVQ4T53TMQrCMBSA4aRQ00E8g97B0cWjmG6FLCJ4AScdnIRQaHMOcfQSurl4AkO7JZItaJO+l3eAj0fyP0oSRggx0113odYe2rZ9+gTFeg77aH0lhMwLxpZSyncy6GOTPF/Xdf34XQi8IQRzOAiEYiAQg42CWCwKpmBBMBUbBKuqmnZ9f3OdhdKItfv3y5zzlbH2TrPsqJpmjw1/MJtNWe6sMSdKyFYpdcagwQ5T0WjYKejopWDRUdC9HwYFgRgUDEJRFAhB0aCPFowtpJQvv9MvITmiFcJWAXMAAAAASUVORK5CYII=);
            }
        }
        .bxservice {
            display: flex;
        }
    }
    @include breakpoint(small down) {
        padding-top: 20px;
        padding-bottom: 30px;
        >.column {
            margin: 0 25px;
        }
        .bx-wrapper {
            .bx-prev {
                left: -30px;
            }
            .bx-next {
                right: -30px;
            }
        }
    }
    &_list {
        list-style-type: none;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
        text-align: center;
        @include breakpoint(small down) {
            margin-left: 20px;
            margin-bottom: 20px;
            text-align: left;
            overflow-y: hidden;
            height: 27px;
            width: calc(100% - 20px);
            white-space: nowrap;
            display: flex;
            &::after {
                content: '';
                display: inline-block;
                min-width: 20px;
                height: 100%;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        li {
            display: inline-block;
            margin-left: -1px;
            width: 140px;
            padding: 14px 0;
            border: 1px solid map-get($foundation-palette, primary);
            cursor: pointer;
            color: map-get($foundation-palette, primary);
            white-space: nowrap;
            user-select: none;
            transition: 200ms;
            @include breakpoint(medium down) {
                width: 95px;
                padding: 10px 0;
                font-size: 11px;
                line-height: 13px;
            }
            @include breakpoint(small down) {
                text-align: center;
                font-size: 12px;
                width: 115px;
                min-width: 115px;
                padding: 5px 0;
            }
            &:first-child {
                border-radius: 4px 0 0 4px;
                @include breakpoint(small down) {
                    margin: 0;
                }
            }
            &:last-child {
                border-radius: 0 4px 4px 0;
            }
            &.active {
                background-color: map-get($foundation-palette, primary);
                color: $white;
            }
        }
    }
    &_item {
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        @include breakpoint(medium down) {
            font-size: 12px;
        }
        &:last-child {
            img {
                max-height: 185px
            }
            .service_item_price {
                margin-top: -63px;
                margin-left: calc(50% - 75px);
                margin-bottom: 40px;
                &_old {
                    text-align: left;
                    margin-top: -70px;
                    margin-left: calc(50% - 75px);
                    margin-bottom: 70px;
                    &:empty {
                        margin: 0;
                    }
                }
            }
        }
        &_header {
            height: 35px;
            background-color: rgba(218, 218, 218, 0.11);
            line-height: 35px;
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 25px;
            @include breakpoint(medium down) {
                height: 30px;
                line-height: 30px;
                font-size: 12px;
            }
        }
        img {
            display: block;
            width: auto;
            margin: auto;
            max-height: 140px;
            margin-bottom: 15px;
        }
        &_price {
            display: table;
            margin: auto;
            height: 26px;
            color: #a3a0a0;
            margin-bottom: 22px;
            span {
                font-size: 20px;
                color: map-get($foundation-palette, primary);
            }
            &_old {
                text-align: center;
                text-decoration: line-through;
                color: #a3a0a0;
            }
        }
        &_params {
            width: 172px;
            margin: auto;
        }
        &_desc {
            padding: 20px;
            padding-bottom: 30px;
            font-weight: 300;
            line-height: 2;
            @include breakpoint(medium down) {
                padding: 15px;
            }
            @include breakpoint(medium down) {
                padding-top: 5px;
            }
            b {
                font-weight: 400;
            }
            span {
                color: #c87d01;
                font-weight: 400;
            }
        }
    }
}