.slider {
    position: relative;
    max-width: 1920px;
    margin: auto;
    .bx-wrapper {
        overflow: hidden;
        .bx-prev {
            left: 20px;
        }
        .bx-next {
            right: 20px;
        }
    }
    &_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 60%;
        text-align: center;
        color: $black;
        padding: 20px;
        padding-right: 60px;
        @include breakpoint(small down) {
            position: static;
            transform: none;
            width: 100%;
            padding: 20px;
        }
        &--white {
            color: $white;
            @include breakpoint(small down) {
                color: $black;
            }
        }
    }
    &_header {
        font-size: 50px;
        font-weight: bold;
        color: $primary-color;
        @include breakpoint(small down) {
            font-size: 25px;
        }
    }
    &_subheader {
        margin-bottom: 20px;
        color: $secondary-color;
        @include breakpoint(small down) {
            margin-bottom: 10px;
        }
    }
    &_descr {
        font-size: 16px;
        @include breakpoint(small down) {
            font-size: 14px;
        }
    }
    &_call {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1170px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; // @include breakpoint(medium down) {
        //     width: calc(100% - 30px);
        //     left: 0;
        //     transform: none;
        //     margin: 0 15px;
        //     padding: 14px 70px;
        //     padding-bottom: 22px;
        // }
        // @include breakpoint(small down) {
        //     background: none;
        //     padding: 0;
        // }
        // &_header{
        //     flex: 1 1 100%;
        //     text-align: center;
        //     font-size: 24px;
        //     font-weight: 400;
        //     line-height: 32px;
        //     margin-bottom: 35px;
        //     @include breakpoint(medium down) {
        //         font-size: 16px;
        //         margin-bottom: 14px;
        //     }
        //     @include breakpoint(small down) {
        //         display: none;
        //     }
        //     b{
        //         font-weight: 500;
        //     }
        // }
        // input {
        //     flex: 0 1 28%;
        //     margin: 0;
        //     @include breakpoint(small down) {
        //         display: none;
        //     }
        //     &[type="text"]{
        //         font-size: 24px;
        //         line-height: 28px;
        //         padding: 16px;
        //         @include breakpoint(medium down) {
        //             font-size: 14px;
        //             font-weight: 400;
        //             line-height: 16px;
        //             padding: 10px 15px;
        //         }
        //     }
        //     &.button{
        //         font-size: 16px;
        //         line-height: 16px;
        //         padding: 8px 12px;
        //     }
        // }
        &_button {
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 14px;
            padding: 15px 34px;
            border-radius: 15px;
            margin: auto;
            transform: translateY(50%);
            @include breakpoint(medium down) {
                font-size: 20px;
            }
            @include breakpoint(small down) {
                padding: 6px 34px;
                font-size: 12px;
            }
        }
    }
}
